.journal-display-container {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    width: 98%;
    max-height: 500px;
    align-self: center;
    margin-top: 10px;
    text-align: left;
    justify-content: center;
    justify-self: center;
    overflow-y: auto;
}

.image-border-container {
    margin-top: 20px;
    background-image: url('BackgroundGradient.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
    text-align: left;
    width: 100%;
    justify-content: left;
    align-content: left;

}

.journal-entry {
    display: grid;
    grid-template-columns: 1fr 3fr; /* 1/4th space for left column, 3/4th space for right column */
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.journal-banner {
    height: 100px;
    align-self: center;
}

.text-images {
    display: flex;
    justify-content: start;
    height: 30px;
    width: auto;

}

.rating-images {
    display: flex;
    justify-content: start;
    margin-bottom: 30px;
}

.rating-image {
    width: 20px; /* Adjust size as needed */
    height: 20px;
    margin-right: 2px; /* Space between images */
}

.date-entered {
    font-size: 14px;
}