.page-banner {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 600px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    gap: 10px;
    overflow: auto;
}

.item1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
