.page-banner {
    background-position: left top;;
    background-repeat: no-repeat;
    height: auto;
    width: 95%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    color: white;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.item1 {
    grid-column: 1 / 4;
    grid-row: 1;
}

.item2 {
    grid-column: 1 / 4;
    grid-row: 2 / 5;
}

.item3 {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}