.Calendar input,
.Calendar button {
  font: inherit;
}

.Calendar header {
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

.Calender header h1 {
  font-size: inherit;
  margin: 0;
}

.Calendar__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px 0;
  padding: 10px;
}

.Calendar__container > * > * {
  margin: 10px;
}

.Calendar__container__content {
  display: flex;
  max-width: 100%;
  flex-basis: 420px;
  flex-direction: column;
  flex-grow: 100;
  align-items: stretch;
  padding-top: 1em;
}

.Calendar__container__content .react-calendar {
  margin: 0 auto;
}

.journal-day {
  background-color: #FF66C4;
}

.calendar-banner {
  height: 40px;
}